#<IfModule mod_rewrite.c>
#DirectoryIndex index.html
#RewriteEngine On

#RewriteRule ^/?$ /grocery/public/ [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule (.*) /grocery/public/$1 [L]
#</IfModule>

#<IfModule mod_rewrite.c>
#  DirectoryIndex /grocery/public/index.html
#  RewriteEngine On
#  RewriteBase /grocery/public/
#  RewriteRule ^grocery/public/index\.html$ - [L]
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteRule . /grocery/public/index.html [L]
#</IfModule>

RewriteEngine On
RewriteBase /grocery/

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

# Add trailing slash to url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/|#(.*))$
RewriteRule ^(.*)$ $1/ [R=301,L]