<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /grocery/public/
  RewriteRule ^grocery/public/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /grocery/public/index.html [L]
</IfModule>